<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <title></title>
    <script type="text/javascript">
    function AutoPlay() {
        var video = document.getElementById("video");
        if (!video.onplay)
            video.play();
    }
    </script>
    <link rel="stylesheet" href="static/css/dunkin.css"/>
</head>
<body>
<div class="l-wrap">
    <div class="l-main">
        <div id="js-pageHandle" class="handle">
            <section class="page">

                <div class="main_wrap">

                    <div class="board04_wrap">

                        <!-- 주요메뉴 -->
                        <div class="list_type_wrap coffee">
                            <div class="board_title">COOL BEVERAGE</div>
                            <ul class="list_menu">
                                <li>
                                    <span class="price_left long">SMALL</span>
                                    <span class="price_right long">REGULAR</span>
                                </li>
                                <li>
                                    던카치노<em>(카라멜)</em>
                                    <span class="price_right">4,900</span>
                                </li>
                                <li>
                                    초코치노
                                    <span class="price_right">4,900</span>
                                </li>
                                <li>
                                    그린티 던카치노
                                    <span class="price_right">5,200</span>
                                </li>
                                <li>
                                    스무디<em>(딸기)</em>
                                    <span class="price_left">4,900</span>
                                </li>
                                <li>
                                    요거트 스무디<em>(딸기)</em>
                                    <span class="price_left">5,200</span>
                                </li>
                                <li>
                                    라임 모히또 에이드
                                    <span class="price_left">4,200</span>
                                    <span class="price_right">4,700</span>
                                </li>
                                <li>
                                    에이드<em>(레몬)</em>
                                    <span class="price_left">3,900</span>
                                    <span class="price_right">4,400</span>
                                </li>
                                <li>
                                    망고주스 / 딸기주스
                                    <span class="price_left">4,300</span>
                                </li>
                                <li>
                                    쿨라타<em>(청포도 봉봉)</em>
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li></li>
                            </ul>
                        </div>
                        <!-- //주요메뉴 -->

                        <!-- 동영상 덮는부분 -->
                        <div class="videoWrap">
                            <div class="movie_floating_bg"></div>
                            <div class="movie_wrap">
                                <!--<iframe width="732" height="608" src="http://www.youtube.com/embed/-BEOSjvl38c" frameborder="0" allowfullscreen></iframe>-->
                                <video src="static/video/veloster.mp4" style="width:100%;height:100%;z-index:5;" loop></video>
                            </div>
                        </div>
                        <!-- //동영상 덮는부분 -->

                        <!-- 하단 캐릭터 -->
                        <div class="character_wrap">
                            <span class="obj obj-p4-c1">
                                <span class="obj-person"><img src="static/img/p4_c1.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p4_c1_m.png" alt=""/></span>
                            </span>
                        </div>
                        <!-- //하단 캐릭터 -->
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
<script src="static/js/jquery-2.1.3.min.js"></script>
<script src="static/js/jquery.animate-enhanced.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/ui.js"></script>
</body>
</html>