<link rel="stylesheet" href="assets/css/PT001.css" />
<div class="l-wrap">
    <div class="l-main">
        <div id="js-pageHandle" class="handle">
            <section class="page">
                <div class="main_wrap">

                    <div class="board01_wrap" >
                        <!--<div class="floating_bg"></div>-->
                        <div class="facebook_wrap">
                            <span class="obj obj-p1-c1">
                                <span class="obj-person"><img src="assets/images/p1_c1.png" width="60%" alt=""/></span>
                            </span>

                        </div>
                        <!-- 동영상부분 -->
                        <div class="movie_area">
                            <video class="video-mask" src="assets/video/veloster.mp4" loop control autoplay></video>
                        </div>
                        <!-- //동영상부분 -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>