<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex" />
    <title></title>
    <link rel="stylesheet" href="static/css/dunkin.css"/>
</head>
<body>
<div class="l-wrap">
    <div class="l-main">
        <div id="js-pageHandle" class="handle">
            <section class="page">


                <div class="main_wrap">

                    <div class="board03_wrap">

                        <!-- 주요메뉴 -->
                        <div class="list_type_wrap coffee">
                            <div class="board_title">COFFEE</div>
                            <ul class="list_menu">
                                <li>
                                    <span class="price_left">HOT</span>
                                    <span class="price_right">ICED</span>
                                </li>
                                <li>
                                    아메리카노
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    카페라떼
                                    <span class="price_left">3,300</span>
                                    <span class="price_right">3,600</span>
                                </li>
                                <li>
                                    카푸치노
                                    <span class="price_left">3,300</span>
                                </li>
                                <li>
                                    카페모카
                                    <span class="price_left">3,900</span>
                                    <span class="price_right">4,200</span>
                                </li>
                                <li>
                                    바닐라라떼
                                    <span class="price_left">3,900</span>
                                    <span class="price_right">4,200</span>
                                </li>
                                <li>
                                    카라멜마끼아또
                                    <span class="price_left">3,900</span>
                                    <span class="price_right">4,200</span>
                                </li>
                                <li>
                                    쿠앤크라떼
                                    <span class="price_left">3,900</span>
                                    <span class="price_right">4,200</span>
                                </li>
                                <li>
                                    맨하탄 드립커피
                                    <span class="price_size"><em>S 2,700</em><em>R 3,000</em><em>L 3,700</em></span>
                                </li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>

                        <div class="list_type_wrap tea">
                            <div class="board_title">CHOCO & TEA LATTE</div>
                            <ul class="list_menu">
                                <li>
                                    <span class="price_right">ICED</span>
                                    <span class="price_left">HOT</span>
                                </li>
                                <li>
                                    핫초코 / 아이스초코
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    쿠앤크초코
                                    <span class="price_left">3,300</span>
                                    <span class="price_right">4,000</span>
                                </li>
                                <li>
                                    티라떼<em>(밀크티)</em>
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    자색고구마라떼
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    버블밀크티라떼
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    버블그린티라떼
                                    <span class="price_left">3,600</span>
                                    <span class="price_right">4,100</span>
                                </li>
                                <li>
                                    버블킹라떼<em>(잉글리쉬블랙퍼스트)</em>
                                    <span class="price_right">4,500</span>
                                </li>
                                <li>
                                    국화차 / 녹차
                                    <span class="price_left">3,000</span>
                                    <span class="price_right">3,500</span>
                                </li>
                                <li>
                                    핫프룻티<em>자몽</em>
                                    <span class="price_left">3,900</span>
                                </li>
                                <li>
                                    아이스티 복숭아
                                    <span class="price_right">3,000</span>
                                </li>
                            </ul>
                        </div>
                        <!-- //주요메뉴 -->

                        <!-- 가운데 대표 메뉴 -->
                        <div class="center_menu"><img src="img/test/board03_center_menu.png" alt="" /></div>
                        <!-- //가운데 대표 메뉴 -->

                        <!--&lt;!&ndash; 가운데 가격 &ndash;&gt;-->
                        <!--<div class="center_price"><span>2,300</span></div>-->
                        <!--&lt;!&ndash; //가운데 가격 &ndash;&gt;-->

                        <!-- 하단 캐릭터 -->
                        <div class="character_wrap">
                            <span class="car"><img src="static/img/p3_c0.png" alt=""/></span>
                            <span class="obj obj-p3-c4">
                                <span class="obj-person"><img src="static/img/p3_c4.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p3_c4_m.png" alt=""/></span>
                            </span>
                            <span class="obj obj-p3-c2">
                                <span class="obj-person"><img src="static/img/p3_c2.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p3_c2_m.png" alt=""/></span>
                            </span>
                            <span class="obj obj-p3-c1">
                                <span class="obj-person"><img src="static/img/p3_c1.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p3_c1_m.png" alt=""/></span>
                            </span>
                            <span class="obj obj-p3-c5">
                                <span class="obj-person"><img src="static/img/p3_c5.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p3_c5_m.png" alt=""/></span>
                            </span>
                            <span class="obj obj-p3-c3">
                                <span class="obj-person"><img src="static/img/p3_c3.png" alt=""/></span>
                                <span class="obj-talk"><img src="static/img/p3_c3_m.png" alt=""/></span>
                            </span>
                        </div>
                        <!-- //하단 캐릭터 -->
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>
<script src="static/js/jquery-2.1.3.min.js"></script>
<script src="static/js/jquery.animate-enhanced.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/ui.js"></script>
</body>
</html>